.wrapper {
    width: 100%;
    text-align: center;
}

.content-div {
    float: left;
    width: 50%;    
}

.language-list {
    left: 100px;
    float: left;
    text-align: left;
    width: 49%;
    border: 1px solid;
}

.wheels-div {
    float: left;
    width: 50%;
    height: 50%;
}

.language-calender {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    left: 12%;
    top: 5em;
}

.language-calender table, th, td {
    border: 1px solid black;
}

.language-calender td {
    width: 100px;
}
